@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Charmonman-Regular.ttf');
}

@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/Charmonman-Bold.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

* {
  font-family: 'Comfortaa', serif;
}

.container {
  background-color: #fff9ed;
  padding: rem(20px);
  min-height: 100vh;
  /** Sets the background colour to be at least the height of the viewport */
  position: relative;

  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: top 20% right;
  background-repeat: no-repeat;
}

.header {
  height: rem(500px);
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: rem(500px);
  margin-top: rem(-50px);
  width: 100%;

  h1 {
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(75px);
    margin: 0;
    color: #fff;
    text-shadow: -5px 5px 2px rgba(0, 0, 0, 0.4);
    font-weight: 600;
  }

  h2 {
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(32px);
    color: #fff;
  }

  a {
    margin-top: rem(30px);
    height: 85px;
    width: 300px;
    background-image: url('../../assets/images/Asset 3.webp');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: #ffd700;
    padding: rem(15px) rem(30px);
    border-radius: 100px;
    color: #000000;
    font-weight: 600;
    font-size: rem(20px);
    text-decoration: none; */
    /* 
    border: 2px solid #422800;
    padding: rem(20px);
    background-color: #fbeee0;
    border-radius: rem(10px);
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    text-decoration: none;
    font-weight: 600;
    font-size: rem(20px);
    min-width: rem(200px); */

    &:hover {
      background-image: url('../../assets/images/Asset 6.webp');
    }

    &:active {
      background-image: url('../../assets/images/Asset 7.webp');
    }
  }

  @mixin smaller-than 768px {
    h1 {
      font-size: rem(50px);
    }

    h2 {
      font-size: rem(24px);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    margin-top: 0;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: rem(20px);
    margin-bottom: rem(20px);

    a {
      //padding: rem(20px);
      //min-width: rem(200px);
      //border: 2px solid #422800;
      //background-color: #fbeee0;
      //border-radius: rem(10px);
      //box-shadow: #422800 4px 4px 0 0;
      //color: #422800;
      //text-decoration: none;
      //font-weight: 600;

      &:hover {
        //background-color: #ffdbb5;
      }

      &:active {
        //box-shadow: #422800 2px 2px 0 0;
        //transform: translate(2px, 2px);
      }
    }
  }
}

.admin {
  position: absolute;
  bottom: rem(10px);
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}