@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Charmonman-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

* {
  font-family: 'Comfortaa', serif;
}

.container {
  background-color: #fff9ed;
  padding: rem(20px);
  min-height: 100vh; /** Sets the background colour to be at least the height of the viewport */
  position: relative;

  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: top 20% right;
  background-repeat: no-repeat;
}

.header {
  height: rem(500px);
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: rem(500px);
  margin-top: rem(-50px);
  width: 100%;
  color: gold;
  h1 {
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(75px);
    margin: 0;
  }
  h2 {
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(32px);
  }

  a {
    margin-top: rem(30px);
    border: 2px solid #422800;
    padding: rem(20px);
    background-color: #fbeee0;
    border-radius: rem(10px);
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    text-decoration: none;
    font-weight: 600;
    font-size: rem(20px);
    min-width: rem(200px);

    &:hover {
      background-color: #ffdbb5;
    }

    &:active {
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
    }
  }

  @mixin smaller-than 768px {
    h1 {
      font-size: rem(50px);
    }
    h2 {
      font-size: rem(24px);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    margin-top: 0;
  }

  .buttonGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: rem(20px);
    margin-bottom: rem(20px);

    a {
      padding: rem(20px);
      min-width: rem(200px);
      border: 2px solid #422800;
      background-color: #fbeee0;
      border-radius: rem(10px);
      box-shadow: #422800 4px 4px 0 0;
      color: #422800;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        background-color: #ffdbb5;
      }

      &:active {
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(2px, 2px);
      }
    }
  }
}

.admin {
  position: absolute;
  bottom: rem(10px);
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* CSS */
.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}
