.sliders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(20px);
  text-align: center;
  .option {
    img {
      width: 100%;
      max-height: rem(300px);

      @mixin smaller-than 768px {
        max-height: rem(400px);
      }
    }
  }
}
