@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Charmonman-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

* {
  font-family: 'Comfortaa', serif;
}

/* .adminContainer {
  background-color: #fff9ed;
  padding: rem(20px);
  min-height: 100vh;
  position: relative;

  h1 {
    text-align: center;
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(75px);
    margin: 0;
  }

  a {
    position: absolute;
    top: rem(30px);
    left: rem(30px);
    color: #000;
    font-size: rem(24px);
    text-decoration: none;
    font-weight: 600;
  }

  table {
    background-color: #fff;
  }
} */

.container {
  background-color: #fff9ed;
  padding: rem(20px);
  min-height: 100vh;
  /** Sets the background colour to be at least the height of the viewport */
  position: relative;

  background-image: url('../../assets/images/background_throne.png');
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.content {
  h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(75px);
    margin: 0;
  }

  table {
    background-color: #ffffff;

    tbody {
      .name {
        cursor: pointer;
      }

      .pill {
        width: fit-content;
        padding: rem(2px) rem(15px);
        border-radius: 24px;
        background-color: #d1d5db;

        &.negative {
          background-color: #fecaca;
          color: #b91c1c;
        }

        &.positive {
          background-color: #bbf7d0;
          color: #15803d;
        }

        &.awaiting {
          background-color: #fef08a;
          color: #a16207;
        }
      }
    }

    .actions {
      text-align: center;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

h3 {
  margin-bottom: 0;
}

.totals {
  font-weight: 600;
}
