@font-face {
  font-family: 'Charmonman';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Charmonman-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Comfortaa-VariableFont_wght.ttf');
}

* {
  font-family: 'Comfortaa', serif;
}

.container {
  background-color: #fff9ed;
  padding: rem(20px);
  min-height: 100vh;
  /** Sets the background colour to be at least the height of the viewport */
  position: relative;
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .headingImg {
    background-image: url('../../assets/images/heading.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px;
    margin-top: -50px;
    color: #4d2c00;
    font-family: 'Charmonman', cursive, sans-serif;
    font-size: rem(60px);
    text-align: center;

    @media screen and (max-width: 520px) {
      font-size: rem(50px);
      padding: 75px;
      margin-top: 0;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc;
    flex-wrap: wrap;
    padding: rem(50px);
    border-radius: 12px;
    border: 4px solid rgb(122, 69, 0);
  }
}

.codeInputForm {
  width: 100%;
  max-width: rem(300px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RsvpForm {
  width: 100%;
  max-width: rem(500px);
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    margin: 0;
    text-align: center;
  }

  table {
    background-color: #fff;
  }
}
